.list {
  display: inline-flex;
  gap: var(--space-2);
  align-items: center;
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 2.1rem;
  height: 2.1rem;
  border: 1.5px solid var(--clr-accent);
  border-radius: var(--radius-full);

  color: var(--clr-accent);

  transition:
    color var(--transition-base),
    background-color var(--transition-base);

  &:hover {
    color: var(--clr-dark);
    background-color: var(--clr-accent);
  }
}

.icon {
  width: 0.95rem;
  height: 0.95rem;
}

[data-type='telegram'] .icon {
  transform: translateX(-5%);
}

[data-type='whatsapp'] .icon {
  transform: scale(1.08);
}
