.map {
  overflow: hidden;

  width: 100%;
  min-height: 18rem;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);

  background: var(--color-muted-bg);

  iframe {
    display: block;
    width: 100%;
    height: clamp(18rem, 25vw, 25rem);
    border: 0;
  }
}
